<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method= "post" action="/login">
        <h2>Login Here</h2>
        <div class= email>
            <input type="text"  placeholder="Enter your Email address">
        </div>
        <div class= password>
            <input type="text"  placeholder="Enter your password">
        </div>
        
        
        <!-- <div>
            <input type="text" placeholder="True/False">
        </div> -->

        <div class= submit>
            <button>Submit</button>
        </div>
        <div>
          <small> <a href="/register">click here to sign up</a></small> 
        </div>
    </form>
</body>
</html>